# OPERATORS IN PYTHON

### Operators are used to perform operation on variable and values.in python has follwing operators. 
### 1.Arithmetric Operators       2.Relational Operators                3.Logical Operator  4. Bitwise Operators         5.Assignment Operators             6.Membership Operators.

# 1.Arithmetric Operators(+,-,*,/,%,//,**)

### * Arithmetic operators are used to perform mathematical operations like addition, 
### subtraction, multiplication and division. There are 7 arithmetic operators in Python :
### 1.Addition       2.Subtraction              3.Multiplication 4.Division       5.Modulus                   6.Exponentiation              7.Integer division.

In [91]:
a=9
b=2

### 1.ADDTION:In Python, "+" is the addition operator. It is used to add 2 values.

In [2]:
print(a+b)

11

### 2.SUBTRACTION : In Python, "– "is the subtraction operator. It is used to subtract the second value from the first value.

In [3]:
print(a-b)

7

### 3.MULTIPLICATION  : In Python, * is the multiplication operator. It is used to find the product of 2 values.

In [4]:
print(a*b)

18

### 4.DIVISION : In Python, "/" is the division operator. It is used to find the quotient when first operand is divided by the second.

In [5]:
print(a/b)

4.5

### 5.MODULES  : In Python, "%" is the modulus operator. It is used to find the remainder when first operand is divided by the second.

In [6]:
print(a%b)

1

### 6.INTEGER DIVISION In Python, "//" is used to conduct the floor division. It is used to find the floor of the quotient when first operand is divided by the second.

In [7]:
print(a//b)

4

### 7.Exponentiation Operator : In Python, "**" is the exponentiation operator. It is used to raise the first operand to power of second.

In [8]:
print(a**b)

81

## 2.COMPARISON OR RELACTIONAL OPERATOR (<,>,<=,>=,==,!=):
### Comparison operators are used to compare two values.

### 1.GRATERTHAN:If the value of left operand is greater than the value of right operand, then condition becomes true.

In [9]:
print(a>b)

True

### 2.LESS THAN:f the value of left operand is less than the value of right operand, then condition becomes true.

In [10]:
print(a<b)

False

### 3.GRATERTHAN EQUAL:If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.

In [11]:
print(a>=b)

True

### 4.LESS THAN EQUAL:If the value of left operand is less than or equal to the value of right operand, then condition becomes true.

In [12]:
print(a<=b)

False

### 5.EQUALL TO:If the values of two operands are equal, then the condition becomes true.

In [13]:
print(a==b)

False

### 6.NOT EQUALL TO : If values of two operands are not equal, then condition becomes true.

In [14]:
print(a!=b)

True

## 3.LOGICAL OPERATORS(AND,OR,NOT):
### Logical operators are used to combine conditional statements.

In [15]:
a=True
b=False

### 1.OR:Returns True if one of the statements is true.

In [16]:
print(a or b)

True

### 2.AND:Returns True if both statements are true.

In [17]:
print(a and b)

False

### 3.NOT:Reverse the result, returns False if the result is true.

In [18]:
print(not b)

True

##  4.BITWISE OPERATORS:
### Bitwise operators are used to compare (binary) numbers.

In [19]:
X=2
Y=3

### 1.Bitwise and:Sets each bit to 1 if both bits are 1.

In [20]:
print(X &Y)

2

### 2.Bitwise or:Sets each bit to 1 if one of two bits is 1.

In [21]:
print(X|Y)

3

### 3.Bitwise xor:Sets each bit to 1 if only one of two bits is 1.

In [22]:
print(X ^Y)

1

### 4.Bitwise right shift :Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off.

In [23]:
print(X>>Y)

0

### 5.Bitwise left shift :Shift left by pushing zeros in from the right and let the leftmost bits fall off.

In [24]:
print(X<<Y)

16

### 6.Bitwise not:Inverts all the bits.

In [25]:
print(~X)

-3

In [26]:
print(~Y)

-4

## 5.Assignment Operators: Assignment operators are used to assign values to variables.

In [27]:
a = 2

In [28]:
print(a)

2

In [29]:
a +=3

In [30]:
print(a)

5

In [31]:
a -=3

In [32]:
print(a)

2

## 6.IDENTITY OPERATORS:Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

In [33]:
a=3
b=3
print(a is b)

True

In [34]:
a=[1,2,3,4]
b=[1,2,3,4]
print(a is b)

False

In [35]:
a="hello"
b="hello"
print(a is b)

True

In [36]:
a="hello_world"
b="hello_world"
print(a is b)

True

## 7.Membership Operators:

###  1.not in: Returns True if a sequence with the specified value is not present in the object

In [37]:
print('D' not in 'Delhi')

False

###  2.in: Returns True if a sequence with the specified value is present in the object

In [38]:
print(1 in [2,3,4,5,6])

False

In [39]:
a=2
b=3
print(a & b)#

2

# If-else in Python

## IF ELSE
### if.............elif..............else  Statement is used for Python decision making

###  →IF Statement syntax

### if test expression:

###    Statement (S)

### → The program evalutes the test expression and will excute Statement(s) only if the text expression is true.

### -> If the text expression is false, the statement (s) is not excented.

### if test expression:
###    Body of if
### else:
###    Body of else

In [40]:
email= input("Enter your email:")
password= input("Enter your password:")
if email=="bibek4panda@gmail.com"and password=="1234":
   print("welcome")
else:
  print("incorrect")

Enter your email:bibek4panda@gmail.com
Enter your password:1234
welcome

# if.............elif..............else  Statement
### syntax
### if test expression:
###    Body of if
### elif test expression:
###    Body of elif 
### else:
###    Body of else

In [41]:
email= input("Enter your email:")
password= input("Enter your password:")
if email=="bibek4panda@gmail.com"and password=="1234":
   print("welcome")
elif email=="bibek4panda@gmail.com"and password!="1234":
     print("password incorrect")
password=input("Re enter the password:")
if password=="1234":
  print("finally correct")
else:
  print("still incorrect")

Enter your email:bibek4panda@gmail.com
Enter your password:1243
password incorrect
Re enter the password:1234
finally correct

## Program - Find the sum of a 3 digit number entered by the user

In [42]:
number = int(input('Enter a 3 digit number:'))
a = number%10       # 345%10 -> 5
number = number//10
b = number % 10     # 34%10 -> 4
number = number//10
c = number % 10     # 3 % 10 -> 3
print(a + b + c)

Enter a 3 digit number:999
27

## menu driven calculator

In [43]:
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change:')
elif menu == '2':
  print('balance:')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
1
pin change:

## BUILT IN MODULES

In [44]:
# math
import math      # math
import random    # random
import datetime  # datetime
import time

In [45]:
print(random.randint(1,100))

39

In [46]:
print(datetime.datetime.now())

2023-03-07 12:24:50.180102

In [47]:
math.sqrt(196)

14.0

In [48]:
print(math.pi)

3.141592653589793

In [49]:
print(math.e)

2.718281828459045

In [50]:
print(math.factorial(5))

120

In [51]:
print(math.ceil(6.3))

7

In [52]:
print(math.floor(6.9))

6

In [53]:
print(math.sqrt(100))

10.0

In [54]:
a = [1,2,3,4,5] 
print(random.shuffle(a))
print(a)

None
[4, 5, 1, 2, 3]

In [55]:
print(time.time())

1678172096.512491

In [56]:
print(time.ctime())

Tue Mar  7 12:24:57 2023

In [57]:
print("Hello")

Hello

In [58]:
print("World")

World

In [59]:
print(time.sleep(1))

None

In [60]:
import warnings
warnings.filterwarnings("ignore")

# Loops in Python

## While Loop

###  The While loop in  Python is used to iterative over a block of code  as long as the test expression, (condition) is True
### SYNTAX

### while test - expression:
###    Body of while
### → the body of the Loop is enerted only if the test- expressin on evalutates to the true.
### → After one iteration, the test expression is checked again.
### → this Process continuse untill the test-expression evaluates to false.

In [61]:
number = int(input('enter the number:'))
i = 1
while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

###  While Loop with else

In [62]:
x = 1
while x < 3:
  print(x)
  x += 1
else:
  print('limit crossed')

1
2
limit crossed

### Guessing game generate a random integer between 1 and 100

In [63]:
import random
jackpot = random.randint(1,100)
guess = int(input('guess karo'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('galat!guess higher')
  else:
    print('galat!guess lower')

  guess = int(input('guess karo'))
  counter += 1
else:
  print('correct guess')
  print('attempts',counter)

guess karo22
galat!guess lower
guess karo15
galat!guess higher
guess karo18
galat!guess lower
guess karo16
galat!guess higher
guess karo17
correct guess
attempts 5

# For loop

In [64]:
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year.You have to write a program to find out the population at the end of each of the last 10 years.

In [65]:
curr_pop = 10000
for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum  1/1! + 2/2! + 3/3! + ...

In [66]:
n = int(input('enter n:'))
result = 0
fact = 1
for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact
print(result)

enter n:5
2.708333333333333

# Nested Loops

In [67]:
# Examples -> unique pairs
for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1
### *
### **
### ***

In [68]:
rows = int(input('enter number of rows'))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows9
*
**
***
****
*****
******
*******
********
*********

# Loop Control Statement

## Break

In [69]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [70]:
lower = int(input('enter lower range:'))
upper = int(input('enter upper range:'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter lower range:9
enter upper range:99
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Continue

In [71]:
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

## Pass

In [72]:
for i in range(1,10):
  pass

## BUILT IN FUNCTION

### 1. print:The print() function prints the specified message to the screen, or other standard output device.

In [73]:
print("Hello world")

Hello world

### 2. input:The input() function reads a line from the input (usually from the user), converts the line into a string.

In [75]:
input("Enter your name")

Enter your nameVICKY

'VICKY'

### 3. type: returns the type of the objects/data elements stored in any data type

In [76]:
a = True
print(type(a))

<class 'bool'>

###  4. int:converts the specified value into an integer number.

In [77]:
print(int(5.6))

5

###  5. abs() function is used to return absolute value of a number.

In [78]:
print(abs(-4))

4

###  6. POW():Returns the value of x to the power of y

In [79]:
print(pow(2,-3))

0.125

###  7. min() function returns the item with the lowest value, or the item with the lowest value in an iterable.

In [80]:
print(min("odisha"))

a

###  7  max() function returns the item with the highest value, or the item with the highest value in an iterable.

In [81]:
print(max("odisha"))

s

###  8. round() function returns a floating point number that is a rounded version of the specified number.

In [82]:
c = 22/7
print(round(c))

3

### 9. divmod:Returns the quotient and the remainder when argument1 is divided by argument2

In [83]:
print(divmod(5,2))

(2, 1)

###  10. bin:Returns the binary version of a number

In [84]:
print(bin(4))

0b100

### 10.oct:Converts a number into an octal

In [85]:
print(oct(4))

0o4

###  10.hex:Converts a number into a hexadecimal value

In [86]:
print(hex(4))

0x4

###  11. id:Returns the id of an object

In [87]:
a = 3
print(id(a))

2825006770544

###  12. ord:Convert an integer representing the Unicode of the specified character

In [88]:
ord('A')

65

###  13. len:Returns the length of an object

In [89]:
print(len([1,2,3]))

3

### 14.sum:Sums the items of an iterator

In [90]:
print(sum({1,2,3,4,5}))

15