# STRING

### 1.Strings are sequence of Characters.
### 2.In Python specifically, strings are a sequence of Unicode Characters.

## 1.CREATE A STRING

### * String can be created by enclosing characters inside a single or double quotes.
### * tripple quote can be represented as multiline string.

In [1]:
c = 'Hello' # single line strings
print(c)

Hello

In [2]:
c = "Hello"  # double line strings
print(c)

Hello

In [3]:
c = '''Hello'''
print(c)  # multi line strings

Hello

## 2.ACCESS SUBSTRING FROM STRING

### 1.We can access individual characters useing indexing and a  range of character useing slicing.
### 2. index starts from zeros.
### 3. trying o access a character out of index range will be raise a error.
### 4. The index must be an integer we can not use float or other types ,this will result into type error.
### 5. python allows negative index for its sequence.

## Concept of Indexing:The indexing  are two types 
## 1.Positive Indexing(left to right)
## 2.Negative Indexing(right to left)

In [4]:
c = "hello"
print(c[0])          # Positive Indexing

h

In [5]:
c = "hello"
print(c[-1])         #Negative Indexing

o

### Concept Slicing

In [6]:
c = "Hello World"

In [7]:
print(c)

Hello World

In [8]:
print(c[0:5])

Hello

In [9]:
print(c[0:5])

Hello

In [10]:
print(c[2:])

llo World

In [11]:
print(c[:4])

Hell

In [12]:
print(c[:])

Hello World

In [13]:
print(c[0:8:3])

HlW

In [14]:
print(c[0:6:-1])

In [15]:
print(c[-5:-1:2])

Wr

In [16]:
print(c[::-1])

dlroW olleH

In [17]:
print(c[-1:-5:-1])

dlro

## EDITIG AND DELETEING

### * Python strings are immutable.
### * String are not deleted partially.But deleted complitely.
### * String are not edit but re-assign it.

## OPERATION ON STRING

### Arithmetic Operations

In [18]:
print("Hello" + "-" + "world")

Hello-world

In [19]:
print("*"*5)

*****

In [20]:
print("hello"== "world")

False

### Relational Operations

In [21]:
print("Hello" == "World")

False

In [22]:
print("Hello" != "World")

True

In [23]:
print("Mumbai" > "Pune")# Lexicographically

False

In [24]:
print("Goa" < "Kolkata")

True

In [25]:
print("kol" < "Kol")

False

### Logical Operations

### *  " " -> False "wreghr" -> True

In [26]:
print("hello" and "world")

world

In [27]:
print(" " and "Hello")

Hello

In [28]:
print(" " or "world")

In [29]:
print("hello" or "world")

hello

In [30]:
print("hello" and "world")

world

In [31]:
print(not "hello")

False

In [32]:
print(not "")

True

### Membership Operations

In [33]:
print("D" in "Delhi")

True

In [34]:
print("d" in Delhi)

NameError: name 'Delhi' is not defined

## LOOPS ON STRING

In [63]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [64]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

## String common function

In [65]:
c = "kolkata"

### len:It is a function retunes number of items in an object

In [35]:
print(len(c))

11

### max:It is a function retunes the items with heighest value

In [36]:
print(max(c))

r

### min:It is a function retunes the items with lowest value

In [37]:
print(min(c))

### sorted:It is a function retunes the sorted list of the specified iterable object

In [38]:
print(sorted(c,reverse=True))

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

### 1. Capitalize:Converts the first character to upper case

In [39]:
c = "kolkata"
print("it is raining today".capitalize())

It is raining today

### Title:Converts the first character of each word to upper case

In [40]:
c = "kolkata"
print("it is raining today".title())

It Is Raining Today

### Upper:Converts a string into upper case

In [41]:
print(c.upper())

KOLKATA

### Lower:Converts a string into lower case

In [42]:
print(c.lower())

kolkata

### Swapcase:Swaps cases, lower case becomes upper case and vice versa

In [43]:
print("KoLkAtA".swapcase())

kOlKaTa

### 2. Count:Returns the number of times a specified value occurs in a string

In [44]:
print("it is raining".count("x"))

0

### 3. Find:Searches the string for a specified value and returns the position of where it was found

In [45]:
print("it is raining".find("x"))

-1

### 3. index:Searches the string for a specified value and returns the position of where it was found

In [46]:
print("it is raining".find("x"))

-1

###  4. endswith:Returns true if the string ends with the specified value

In [47]:
print("it is raining".endswith("ingef"))

False

### 4 startswith:Returns true if the string starts with the specified value

In [48]:
print("it is raining".startswith("it"))

True

### 5. format:formats specified values in a string

In [49]:
print("Hello my name is {} and I am {}".format("Bibek",23))

Hello my name is Bibek and I am 23

In [50]:
print("Hello my name is {1} and I am {0}".format(23,"Bibek"))

Hello my name is Bibek and I am 23

In [51]:
print("Hello my name is {age} and I am {name}".format(name = "bibek",age = 25))

Hello my name is 25 and I am bibek

In [52]:
print("Hello my name is {name} and I am {name}".format(name = "bibek",age = 25, weight = 60))

Hello my name is bibek and I am bibek

### 6.isalnum:Returns True if all characters in the string are alphanumeric

In [53]:
print("FLAT20&".isalnum())

False

### 6. isalpha:Returns True if all characters in the string are in the alphabet

In [54]:
print("FLAT20".isalpha())

False

### 6. isdigit :Returns True if all characters in the string are digits

In [55]:
print("20A".isdigit())

False

### 6.isidentifier:Returns True if the string is an identifier

In [56]:
print("hello_world".isidentifier())

True

### 7.Split:Splits the string at the specified separator, and returns a list

In [57]:
print("who is the pm of india".split())

['who', 'is', 'the', 'pm', 'of', 'india']

In [58]:
print("who is the pm of india".split("x"))

['who is the pm of india']

### 8. Join:Converts the elements of an iterable into a string

In [59]:
print(" ".join(['who', 'is', 'the', 'pm', 'of', 'india']))

who is the pm of india

In [60]:
print("-".join(['who', 'is', 'the', 'pm', 'of', 'india']))

who-is-the-pm-of-india

### 9. Replace:Returns a string where a specified value is replaced with a specified value

In [61]:
print("Hi my name is Nitish".replace("Nitish","Amit"))

Hi my name is Amit

### 10. Strip:Returns a trimmed version of the string

In [62]:
name = "               nitish              "
print(name.strip())

nitish